	<div class="row box-content">

	<div class="row box-content bordersupportblue">
		
			<form id="form-bedrijfsgegevens" class="form-horizontal">
				<fieldset>
				
				<div class="supportboxblue">
                    <div class="supporthead">
                        <div class="support-upper">Aangemaakt door<span class="rechts trap2">Datum</span></div>
                        <span class="support-head">{{support.gebruiker.bedrijfNaam}}</span>&nbsp;&nbsp;&nbsp;
                        <span class="support-datum rechts3 brmob">{{support.datumAangemaakt}}</span> 
                    </div> 
        </div>			
					 <div class="box-content mobpad">
					
					<div class="form-group">
						<span class="col-xs-12">
							U heeft een support ticket ingediend bij het CRZB.<br/><br/> <strong>Het type van het support ticket
			is:</strong> <br/>{{support.supportTypeDesc}}.
						</span>
					</div>						
					<div class="form-group" ng-show="support.supportReden">
						<span class="col-xs-12">
							<strong>De reden voor uw probleem is als volgt:</strong><br/> {{support.supportRedenDesc}}
						</span>
					</div>						
					<div class="form-group" ng-show="support.bericht" >
						<span class="col-xs-12">
							<strong>Onderstaand de toelichting die u heeft gegeven:</strong>
						</span>
					</div>						
					<div class="form-group" ng-show="support.bericht" >
						<span class="col-xs-12">
							
							<pre>{{support.bericht}}</pre>
												
						</span>
					</div></div>						
				</fieldset>
			</form>
		</div>
	</div>