<div class="row box-content">
    <div class="row box-content bordersupportblue">
     
            <form id="form-bedrijfsgegevens" class="form-horizontal">
                <fieldset>
				   <div class="supportboxorang"> 
                    <div class="supporthead">
                        <div class="support-upper">Er is bezwaar gemaakt door:<span class="rechts trap2">Datum</span></div>
                        <span class="support-head">{{support.gebruiker.bedrijfNaam}}</span>&nbsp;&nbsp;&nbsp;
                        <span class="support-datum rechts3 brmob">{{support.datumAangemaakt}}</span> 
                    </div>
                </div>
				
				
	   <div class="box-content">
             
                    <div class="form-group">
                        <span class="col-xs-12 mobpad">
							<strong>Tegen de vermelding <br/></strong>{{support.melding.referentieIntern}}.
						</span>
                    </div>
						<div class="form-group">
                        <span class="col-xs-12 mobpad">
							<strong>Referentie / factuurnummer:<br/> </strong>    {{supportTicket.melding.referentie}}
						</span>
                    </div>
                    <div class="form-group">
                        <span class="col-xs-12 mobpad">
						<strong>Deze vermelding is gemaakt door:</strong>
						<br/>
                    		    
			                {{meldingVanBedrijf.bedrijfsNaam}}
			                <br/>
			                {{meldingVanBedrijf.straat}} {{meldingVanBedrijf.huisnummer}}
			                <br/>
			                {{meldingVanBedrijf.postcode}} {{meldingVanBedrijf.plaats}}
			                <br/>
			                KvK-nummer {{meldingVanBedrijf.kvkNummer}}
			            
						</span>
                    </div>
                    <div class="form-group" data-ng-show="support.supportReden">
                        <span class="col-xs-12 mobpad">
							<strong>De reden voor bezwaar is als volgt:<br/> </strong>{{support.supportRedenDesc}}
						</span>
                    </div>
                    <div class="form-group" data-ng-show="support.bericht">
                        <span class="col-xs-12 mobpad">
						<strong>Onderstaand de toelichting die is gegeven door {{support.gebruiker.bedrijfNaam}}:</strong>
						</span>
                    </div>
                    <div class="form-group" data-ng-show="support.bericht">
                        <span class="col-xs-12 col-sm-10 mobpad">
							<pre>{{support.bericht}}</pre>
                        </span>
                    </div>
                    <div class="form-group" data-ng-if="support.supportBestanden.length>0">
                        <div class="col-xs-12 col-sm-8 mobpad">
                            <table id="bijlagen" class="table m-table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Bijlage</th>
                                        <th>Acties</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="supportAttachment in support.supportBestanden">
                                        <td>{{supportAttachment.oorspronkelijkBestandsNaam}}</td>
                                        <td>
                                            <supportattachment-download></supportattachment-download>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
					</div>
                </fieldset>
            </form>
      
    </div>
</div>
		