<div class="box-content">
<div class="row">
    <div class="box-content bordersupportorang">
        <form id="form-bedrijfsgegevens" class="form-horizontal">
            <fieldset>
                <div class="supportboxorang"> 
                    <div class="supporthead">
                        <div class="support-upper">Admin<span class="rechts trap2">Datum</span></div>
                        <span class="support-head">{{support.gebruiker.bedrijfNaam}}</span>&nbsp;&nbsp;&nbsp;
                        <span class="support-datum rechts3 brmob">{{support.datumAangemaakt}}</span> 
                    </div>
                </div>
				 <div class="box-content mobpad">
                <div class="form-group padding20">
                    <span class="col-xs-12">
							<strong>Het Support ticket is afgehandeld als volgt:</strong>
						</span>
                </div>
                <div class="form-group paddingb20" data-ng-show="support.bericht">
                    <span class="col-xs-12">
							<pre>{{support.bericht}}</pre>
                    </span>
                </div></div>
            </fieldset>
        </form>
    </div>
</div></div>