<div class="row">
<div id="accountcreated_page" data-ng-class="user ?'col-xs-12' : 'col-xs-12  autocenter'">
    <div class="paddinginlog">
        <div class="box-content border text-center minw autocenter">
            <div class="row vertical-align-nospace">
                <div class="col-xs-12">
                    <div class="col-sm-12 autocenter mobpad">
                       <img class="fixt-email-send-icon" src="img/icons/svg/email-send.svg" width="95" height="95">
                        <div class="alert-medium"><span><b><font class="legend" color=ff8000>Activeer uw account</font></b><br/><br/>
						Wij hebben u een e-mail gestuurd met daarin de activatielink. Klik op 'account activeren' binnen de e-mail. 
						Wanneer u uw account op de hiervoor genoemde wijze geactiveerd heeft, zult u in staat zijn om in te loggen.<br/><br/>
						<font color=ff8000><b>Let op!</b></font> Het kan enkele minuten duren voor de e-mail is ontvangen. Soms wordt onze e-mail onterecht voor spam aangezien.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 centered mobpad">
                            <button type="button" class="btn btn-primary btn-lg w100 margin15" data-ng-click="returnToLogin()">Ga naar Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>