<div class="row">
    <div class="col-md-12">
        <div class="box no shad">
            <div class="box-content border">
                <span class="livicon-evo" data-options="name: comments.svg; size: 35px; strokeColorAlt:#0a212f; strokeColor:#0a212f;eventOn:parent; style: lines; ; tryToSharpen: true"></span>
                <span class="legend">Api documentatie</span>
                <span class="livicon-evo rechts trap" data-options="name: phone-alt.svg; size: 35px; style:lines-alt;strokeColorAlt:#0a212f; strokeColor:#0a212f; tryToSharpen: true"></span>
                <span class="legend rechts trap">085 - 484 5700</span>
                <div class="home">
                    <hr>
                </div>
              
                <div class="row box-content mobpad">
                    <div class="col-md-6">
                        <form  class="form-horizontal" novalidate> 
                            <fieldset>
                                <span class="legend marginb20">Api documentatie</span><br/><br/>
                            <span class="b">Uw heeft geen lopende api contracten hierdoor zijn er geen beschikbare api documentatie.</span>
                            <span class="b"></span>
                            </fieldset>
                        </form>
                    </div>
                </div>
				<div class="box-content mobpad">
                <button class=" btn btnlgw2 btn-primary" ng-click="gotoSupport()" type="button">
					Terug
				</button>
            </div>
			</div>
        </div>

    </div>
</div>
