 <div class="row">
<div id="page-login" class="col-xs-12 col-sm-7 col-md-6 col-lg-4 autocenter">
        <div class="box minw  autocenter no">
            <div class="box-content border">
                <div class="text-center">
                 <img src="img/icons/svg/padlock.svg" width="35" height="35">  
                    <span class="legend b">&nbsp;Wachtwoord vergeten</span>
                </div>
                <div class="home">
                    <hr>
                </div>
                <div class="row box-context">
                    <div class="box-content">   
					<div  class="col-xs-12">
                        <form name="formforgotpassword" id="form-forgotpassword" class="form-horizontal" novalidate>
                            <div class="form-group" data-ng-class="{'has-error' : isInvalid(formforgotpassword, 'username')}" data-ng-hide="passwordReset">
							<div class="text-center">
							  <span class="b">Vul hieronder uw e-mailadres in. U krijgt een e-mail om uw wachtwoord opnieuw in te stellen.</span><br/><br/>
							  </div>
                                <label class="control-label">E-mailadres</label>
                                <input data-ng-paste="checkFieldMaxLength($event, username, maxFieldLengths.gebruikersnaam)" data-data-wm-block name="username" id="username" data-ng-model="username" type="text" onkeydown="if (event.keyCode == 13) sendbtn.click()" class="form-control" data-wm-block-length="maxFieldLengths.gebruikersnaam" required></input>
                                <small class="help-block" data-ng-show="isInvalid(formforgotpassword, 'username')"><span>Geef uw gebruikersnaam (e-mailadres)</span></small>
                            </div>
                            <div data-ng-show="passwordReset">
                                <div class="prima-smal text-center paddingb20">
                                    <div class="mylivicon marginb20 autocenter" data-options="name: external-link.svg;repeat:2; size: 45px; style: lines-alt; strokeColor:#3c763d;strokeColorAlt:#3c763d; autoPlay:true; tryToSharpen: true"></div>
                                    <span id="information" class="primatext-smal">Er is naar u een e-mail verstuurd met hierin een link waarmee u uw wachtwoord kunt wijzigen.</span>
                                </div> 
                            </div>
                            <div class="form-group padding10">
                                <button id="sendbtn" type="button" class="btn btn-primary btn-lg w100 margin15 " data-ng-hide="passwordReset" data-ng-disabled="buttonDisabled(formforgotpassword, 'username')" data-ng-click="sendPasswordToEmail(username)">Verstuur</button>
                                <button type="button" class="btn btn-primary bluebtn11 fontb btn-lg w100" data-ng-hide="passwordReset" data-ng-click="return()">Terug</button>
                                <button type="button" class="btn w100 btn-lg fontb margin15 btn-primary" data-ng-show="passwordReset" data-ng-click="return()">Ok</button>
                            </div>
                       </form>
                    </div>
				 </div> </div>
            </div>
        </div>
    </div>
</div>
<script>
angular.element(document).ready(function() {
        setTimeout(function(){
$(function() {
            jQuery(".mylivicon").addLiviconEvo()
        })
}, 500)
    });
</script>