<div class="row">
	<div id="report_page" class="col-sm-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-credit-card"></i>	
					<span>Rapport</span>
				</div>
			</div>			
			<div class="box-content">			

				<div class="row box-content">
									<div class="form-group">
										<p class="col-sm-12">
											<report-download url="/download/a.pdf" filename="my-awesome.pdf"></document-download>										
											
<!-- 											<a href="#" ng-click="getReport(report.bedrijf.bedrijfId, report.bedrijfaanvrager.bedrijfId)">Rapport ophalen</a> -->
										</p>
									</div>	
									
					<div>
						<h2 class="page-header">
							Bedrijvigheid B.V.
						</h2>
					<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
					
<!-- 						<div class="box-content"> -->
							<form id="form-bedrijfsgegevens" class="form-horizontal">
								<fieldset>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">CRZB</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>1234567890</span>
										</p>
									</div>			
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label">Kvk nummer</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>12345678</span>
										</p>
									</div>															
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label">Handelsnaam</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>Heleboel Bedrijvigheid B.V.</span>
										</p>
									</div>	
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label">Vennootschapsnaam</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>Heleboel Bedrijvigheid sdfsdf sadf asdfas B.V.</span>
										</p>
									</div>								
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label">Adres</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>Welkestraat 123</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label"> </label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>1000 AA Amsterdam</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label">Postadres</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>Postbus 1000</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label"> </label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>1001 AA Amsterdam</span>
										</p>
									</div>
																		
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label">Hoofdvestiging</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-5">
											<span>Ja</span>
										</p>
									</div>	

									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label">BTW nummer</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-5">
											<span>NL342342342B01</span>
										</p>
									</div>
									
<!-- 									<div class="donut"> -->
<!-- 									<donutchart id="donut-vermeldingen" data-options="chart_options" height="200px"></donutchart> -->
<!-- 									</div>										 -->
								</fieldset>
							</form>
<!-- 						</div> -->
					</div>
					<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
					
<!-- 						<div class="box-content"> -->
							<form id="form-bedrijfsgegevens" class="form-horizontal">
								<fieldset>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">RSIN</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>1234567890</span>
										</p>
									</div>										
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Hoofdactiviteit (SBI)</label>
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>1200 - Tuinieren en verbouwingen en asdf sdf a sdf</span>
										</p>
									</div>			
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Nevenactiviteit 1 (SBI)</label>
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>1200 - Tuinieren en verbouwingen</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Nevenactiviteit 2 (SBI)</label>
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>1200 - Tuinieren en verbouwingen</span>
										</p>
									</div>
																		
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label">Aantal dochters</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>0</span>
										</p>
									</div>															
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label">Aantal medewerkers</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>0</span>
										</p>
									</div>	
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label">Import/Export</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>Nee</span>
										</p>
									</div>	
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label">Domeinnaam</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>www.bedrijvigheid.nl</span>
										</p>
									</div>								
																		
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label control-label">Deponering jaarstukken</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-7">
											<span>2013</span>
										</p>
									</div>										

<!-- 									<div class="donut"> -->
<!-- 									<donutchart id="donut-vermeldingen" data-options="chart_options" height="200px"></donutchart> -->
<!-- 									</div>										 -->
								</fieldset>
							</form>
<!-- 						</div> -->
					</div>
					</div>									
					


<!-- 					<div class="col-sm-6"> -->
<!-- 						<div class="box-content"> -->
<!-- 							<form id="form-contactpersoongegevens" class="form-horizontal"> -->
<!-- 								<fieldset> -->
<!-- 									<legend>Aangemaakt door</legend> -->
<!-- 									<div class="form-group"> -->
<!-- 										<label class="col-sm-3 control-label">Gebruiker</label> -->
<!-- 										<p class="col-sm-5"> -->
<!-- 											<span>{{user.fullName}}</span> -->
<!-- 										</p> -->
<!-- 									</div> -->
<!-- 									<div class="form-group"> -->
<!-- 										<label class="col-sm-3 control-label">Account naam</label> -->
<!-- 										<p class="col-sm-5"> -->
<!-- 											<span>{{user.userName}}</span> -->
<!-- 										</p> -->
<!-- 									</div> -->
<!-- 								</fieldset> -->
<!-- 							</form> -->
<!-- 						</div> -->
<!-- 					</div>					 -->
				</div>

				<div class="row box-context">

					<div class="col-xs-12 col-sm-10">
						<div class="box-content">
						<form id="form-bedrijfsgegevens" class="form-horizontal">
								<fieldset>
									<legend>Overzicht</legend>
									<div class="form-group">
 									<span align="right" class="col-sm-1"><i class="fa fa-exclamation-triangle"></i></span><span class="col-sm-11">Bedrijf is actief.</span>
 									</div>
 									<div class="form-group">
 									<span align="right" class="col-sm-1"><i class="fa fa-exclamation-triangle"></i></span><span class="col-sm-11">Afgelopen jaar zijn er 10 vermeldingen gedaan voor Bedrijf. De laatste maand zijn er 3 vermeldingen gedaan.</span>
 									</div>
									<div class="form-group">
 									<span align="right" class="col-sm-1"><i class="fa fa-exclamation-triangle"></i></span><span class="col-sm-11">Er zijn 2 actieve vermeldingen.</span>
 									</div>
									<div class="form-group">
 									<span align="right" class="col-sm-1"><i class="fa fa-exclamation-triangle"></i></span><span class="col-sm-11">In het laatste kwartaal zijn er 5 bedrijven geweest die Bedrijf aangemeld hebben in monitoring.</span>
 									</div>
 								</fieldset>
 						</form>							
						</div>
					</div>
				</div>
				
				<div class="row box-context">
					<div class="col-xs-12 col-sm-6">
						<div class="box-content">
							<form id="form-bedrijfsgegevens" class="form-horizontal">
								<fieldset>
									<legend>Contactgegevens KvK</legend>
									<div class="form-group">
										<label class="col-sm-3 control-label">Voorletters</label>																		
										<p class="col-sm-9">
											<span>K.J</span>
										</p>
									</div>									
									<div class="form-group">
										<label class="col-sm-3 control-label">Tussenvoegsel</label>																		
										<p class="col-sm-9">
											<span>van der</span>
										</p>
									</div>								
									<div class="form-group">
										<label class="col-sm-3 control-label">Achternaam</label>																		
										<p class="col-sm-9">
											<span>Berg</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Telefoon</label>																		
										<p class="col-sm-9">
											<span>020-1234567</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Mobiel</label>																		
										<p class="col-sm-9">
											<span>06-12345678</span>
										</p>
									</div>									
								</fieldset>
							</form>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="box-content">
							<form id="form-contactpersoongegevens" class="form-horizontal">
								<fieldset>
									<legend>Contactpersoon CRZB</legend>
									<div class="form-group">
										<label class="col-sm-3 control-label">Voornaam</label>																		
										<p class="col-sm-9">
											<span>Karel</span>
										</p>
									</div>																
									<div class="form-group">
										<label class="col-sm-3 control-label">Achternaam</label>																		
										<p class="col-sm-9">
											<span>van der Berg</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Telefoon</label>																		
										<p class="col-sm-9">
											<span>020-1234567</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Email</label>																		
										<p class="col-sm-9">
											<span>vdberg@bedrijvigheid.nl</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Functie</label>																		
										<p class="col-sm-9">
											<span>Directeur</span>
										</p>
									</div>	
								</fieldset>
							</form>
						</div>
					</div>					
				</div>
				
				<div class="row box-context">
					<div class="col-xs-12 col-sm-10">
						<div class="box-content">
							<form id="form-bedrijfsgegevens" class="form-horizontal">
								<fieldset>
									<legend>Historie</legend>	
														
<ul class="timeline">

	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Einde surseance</span>
				<span class="time-wrapper"><span class="time">10-02-2015</span></span>
			</div>
			<div class="desc">Einde surseance van betaling</div>
		</div>
	</li>
	
	<!-- Item 1 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Surseance</span>
				<span class="time-wrapper"><span class="time">20-01-2015</span></span>
			</div>
			<div class="desc">Er is surseance van betaling aangevraagd</div>
		</div>
	</li>
  
	<!-- Item 2 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Betalingsachterstand</span>
				<span class="time-wrapper"><span class="time">10-01-2015</span></span>
			</div>
			<div class="desc">Er is een betalingsachterstand gemeld. Zie Melding referentie 1234567890</div>
		</div>
	</li>

	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Betalingsachterstand</span>
				<span class="time-wrapper"><span class="time">25-07-2014</span></span>
			</div>
			<div class="desc">Er is een betalingsachterstand gemeld. Zie Melding referentie 1234567890</div>
		</div>
	</li>
	
	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Inschrijving KvK</span>
				<span class="time-wrapper"><span class="time">08-11-2008</span></span>
			</div>
			<div class="desc">Bedrijf ingeschreven bij KvK</div>
		</div>
	</li>
  
</ul>				
								</fieldset>
							</form>		
						</div>
					</div>
				</div>



				<div class="row box-content">
					<div>
						<h4 class="page-header">
							Vermelding #1
						</h4>
						<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
							<div class="box-content">
								<form id="form-meldinggegevens-partone" class="form-horizontal">
									<fieldset>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Referentienummer</label>																		
										<p class="col-xs-8 col-sm-6 col-lg-5">
											<span>1234567890</span>
										</p>
									</div>	
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Naam</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-7">
											<span>AnderBedrijf B.V.</span>
										</p>
									</div>
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Adres</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-7">
											<span>Het straatje 12</span>
										</p>
									</div>	
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Datum verloopfactuur</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-7">
											<span>20-12-2014</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Openstaand bedrag</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-7">
											<span>onbekend</span>
										</p>
									</div>																								
									</fieldset>
								</form>
							</div>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
							<div class="box-content">
								<form id="form-contactpersoongegevens-parttwo" class="form-horizontal">
									<fieldset>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-7 control-label">Datum melding</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-5">
											<span>25-07-2015</span>
										</p>
									</div>										
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-7 control-label">CRZB</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-5">
											<span>1234567890</span>
										</p>
									</div>									
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-7 control-label">&nbsp;</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-5">
											<span>&nbsp;</span>
										</p>
									</div>
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-7 control-label">Factuurreferentie bedrijf</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-5">
											<span>1234567890A</span>
										</p>
									</div>
									<div ng-show="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-7 control-label">&nbsp;</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-5">
											<span>&nbsp;</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-7 control-label">&nbsp;</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-5">
											<span>&nbsp;</span>
										</p>
									</div>									
																																				
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row box-content">
									
					<div>
						<h4 class="page-header">
							Vermelding #2
						</h4>
						<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
							<div class="box-content">
								<form id="form-meldinggegevens-partone" class="form-horizontal">
									<fieldset>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Referentienummer</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-7">
											<span>1234567890</span>
										</p>
									</div>	
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Naam</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-7">
											<span>AnderBedrijf B.V.</span>
										</p>
									</div>
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Adres</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-7">
											<span>Het straatje 12</span>
										</p>
									</div>	
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Datum verloopfactuur</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-7">
											<span>20-12-2014</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-5 control-label">Openstaand bedrag</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-7">
											<span>onbekend</span>
										</p>
									</div>																								
									</fieldset>
								</form>
							</div>
						</div>
						<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
							<div class="box-content">
								<form id="form-contactpersoongegevens-parttwo" class="form-horizontal">
									<fieldset>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-7 control-label">Datum melding</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-5">
											<span>25-07-2015</span>
										</p>
									</div>										
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-7 control-label">CRZB</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-5">
											<span>1234567890</span>
										</p>
									</div>									
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-7 control-label">&nbsp;</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-5">
											<span>&nbsp;</span>
										</p>
									</div>
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-7 control-label">Factuurreferentie bedrijf</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-5">
											<span>1234567890A</span>
										</p>
									</div>
									<div ng-show="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-7 control-label">&nbsp;</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-5">
											<span>&nbsp;</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-xs-8 col-sm-6 col-lg-7 control-label">&nbsp;</label>																		
										<p class="col-xs-4 col-sm-6 col-lg-5">
											<span>&nbsp;</span>
										</p>
									</div>									
																																				
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="row box-content" ng-show="nrOfMeldingen(meldingenOverview) > 0">
					<div ng-repeat="melding in meldingenOverview">
						<h4 class="page-header">
							Melding #{{$index + 1}}
						</h4>
						<div class="col-sm-5">
							<div class="box-content">
								<form id="form-meldinggegevens-partone" class="form-horizontal">
									<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label">Referentienummer</label>																		
										<p class="col-sm-9">
											<span>{{melding.referentieIntern}}</span>
										</p>
									</div>	
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-sm-3 control-label">Bedrijfsnaam</label>																		
										<p class="col-sm-9">
											<span>{{melding.bedrijfsNaam}}</span>
										</p>
									</div>
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-sm-3 control-label">Adres</label>																		
										<p class="col-sm-9">
											<span>{{melding.straat}}
												{{melding.huisNr}}
												{{melding.huisNrToevoeging}}</span>
										</p>
									</div>	
									<div class="form-group">
										<label class="col-sm-3 control-label">Datum verloopfactuur</label>																		
										<p class="col-sm-9">
											<span>{{melding.verloopdatumFactuur}}</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Openstaand bedrag</label>																		
										<p class="col-sm-9">
											<span>{{getBedragText(melding.bedrag)}}</span>
										</p>
									</div>																								
									</fieldset>
								</form>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="box-content">
								<form id="form-contactpersoongegevens-parttwo" class="form-horizontal">
									<fieldset>
									<div class="form-group">
										<label class="col-sm-3 control-label">Datum melding</label>																		
										<p class="col-sm-9">
											<span>{{melding.toegevoegd}}</span>
										</p>
									</div>										
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-sm-3 control-label">CRZB nummer</label>																		
										<p class="col-sm-9">
											<span>{{melding.sbdrNummer}}</span>
										</p>
									</div>									
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-sm-3 control-label">&nbsp;</label>																		
										<p class="col-sm-9">
											<span>&nbsp;</span>
										</p>
									</div>
									<div ng-hide="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-sm-3 control-label">Factuurreferentie bedrijf</label>																		
										<p class="col-sm-9">
											<span>{{melding.referentie}}</span>
										</p>
									</div>
									<div ng-show="hideCompanyInfo(melding.bedrijfId)" class="form-group">
										<label class="col-sm-3 control-label">&nbsp;</label>																		
										<p class="col-sm-9">
											<span>&nbsp;</span>
										</p>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">&nbsp;</label>																		
										<p class="col-sm-9">
											<span>&nbsp;</span>
										</p>
									</div>									
																																				
									</fieldset>
								</form>
							</div>
						</div>
					</div>						
				</div>
				
				<div class="row box-context">
					<div class="col-sm-6">
						<div class="box-content">
							<form id="form-actions" name="formactions" class="form-horizontal" novalidate>
								<fieldset>
									<div class="form-group">
										<div class="col-sm-3 col-sm-offset-0">
											<button type="button" class="btn btn-primary" ng-click="back()">Terug</button>	
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				
				<div id="alert" class="alert alert-danger" ng-show="error">{{error}}</div>
				<div ng-show="monitorCreated" class="alert alert-success">Monitoring succesvol toegevoegd aan lijst.</div>				
			</div>
		</div>
	</div>
</div>