<div ng-controller="OverviewTabController">
<div class="row box-content">
  <h4>Overzicht</h4>

</div>
<div class="row box-content">
  <div class="col-sm-12">	
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<svg id="test1" class="mypiechart"></svg>
				</div>
				<div class="col-xs-12 col-sm-6">
					<svg id="test3" class="mypiechart"></svg>
				</div> 								
<!-- 				<div class="col-sm-12 col-md-6"> -->
<!-- 						<nvd3-pie-chart data="piechartexampleData" id="showLegendExample" -->
<!-- 							width="550" height="350" x="xFunction()" y="yFunction()" -->
<!-- 							showLegend="true"> <svg height="350"></svg> </nvd3-pie-chart> -->
<!-- 				</div> -->
<!-- 				<div class="col-sm-12 col-md-6"> -->
<!-- 					<nvd3-pie-chart data="exampleData" id="showLegendExample2" -->
<!-- 						width="550" height="350" x="xFunction()" y="yFunction()" -->
<!-- 						showLegend="true"> <svg height="350"></svg> </nvd3-pie-chart> -->
<!-- 				</div> -->
			</div>
			<div class="row">
				<div class="col-xs-12">
				<h4>Alle bedrijven in portfolio Monitoring</h4>
				<table class="table">
					<tbody>
						<tr>
							<td>Totaal Aantal bedrijven in Monitoring</td>
							<td><a href="#">90 bedrijven</a></td>
						</tr>
						<tr>
							<td>Wijzigingen in de afgelopen 48 uur </td>
							<td><a href="#">90 bedrijven</a></td>
						</tr>
						<tr>
							<td>Wijzigingen in de afgelopen 30 dagen</td>
							<td><a href="#">90 bedrijven</a></td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>			
			<div class="row">
				<div class="col-xs-12">
				<h4>Alle bedrijven in portfolio zelf geregistreerd</h4>
				<table class="table">
					<tbody>
						<tr>
							<td>Totaal Aantal bedrijven Geregistreerd</td>
							<td><a href="#">90 bedrijven</a></td>
						</tr>
						<tr>
							<td>Geregistreerd in de afgelopen 48 uur</td>
							<td><a href="#">90 bedrijven</a></td>
						</tr>
						<tr>
							<td>Geregistrered in de afgelopen 30 dagen</td>
							<td><a href="#">90 bedrijven</a></td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>

   </div>
   </div>
</div>