<a href="" ng-click="downloadDocument(documentRequested)">
<span class="mylivicon rechts trap paddingb5" data-options="name: print-doc.svg; size: 30px; style: lines-alt;strokeColorAlt:#0a212f; strokeColor:#0a212f; tryToSharpen: true"></span>
</a>
<a href="" ng-show="showMonitoring()">
<span class="mylivicon rechts paddingb5" ng-click="monitoring()"  data-options="name: morph-desktop-smartphone.svg; size: 30px; style: lines-alt;strokeColorAlt:#0a212f; strokeColor:#0a212f; tryToSharpen: true"></span>
</a> 
<a href="" ng-click="downloadDocument(documentRequested)">
<span class="mylivicon  rechts paddingb5" data-options="name: save.svg; size: 30px; style: lines-alt;strokeColorAlt:#0a212f; strokeColor:#0a212f; tryToSharpen: true"></span>
</a>

