<div class="row">
    <div class="col-md-12" id="support_faq_page">
        <div class="row" id="noborderpanel">
            <script>
                $(document).ready(function() {
                    $('.fixitfaq').matchHeight();
                });
            </script>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box no shad ">
                    <div class="box-content border">
                        <span class="livicon-evo" data-options="name: question-alt.svg; size: 35px; style: lines-alt; eventOn:parent; strokeColor:#0a212f; tryToSharpen: true">&nbsp;</span>
                        <span class="legend">Meest gestelde vragen & instructies</span>
                        <span class="livicon-evo rechts trap2" data-options="name: phone-alt.svg; size: 35px; style:lines-alt;strokeColorAlt:#0a212f;eventOn:parent; strokeColor:#0a212f; tryToSharpen: true">&nbsp;</span>
                        <span class="legend rechts trap2">085 - 484 5700</span>
                        <div class="home">
                            <hr>
                        </div>
                        <p>Mocht u na het lezen van de meest gestelde vragen en onze instructies nog vragen hebben?<br/>Neem dan contact op met ons per telefoon op 085 - 484 5700 of per e-mail op support@crzb.nl.</p><br/>
                        <button class="btn btn-primary btnlgw2 " ng-click="gotoSupport()" type="button">
							Terug
						</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="box no marginfaq marginfaqm">
                    <div class="box-content border noborderlegend fixitfaq">
                        <span class="livicon-evo" data-options="name: morph-folder.svg; size: 35px; style: lines-alt; strokeColor:#0a212f;eventOn:parent; tryToSharpen: true">&nbsp;</span>
                        <span class="legend">Indienen achterstanden</span>
                        <div class="home">
                            <hr>
                        </div>
                        <div class="row box-content">
                            <div class="panel-group" id="accordionNotification" role="tablist" aria-multiselectable="false">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading8">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionNotification" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
											Hoe dien ik een betalingsachterstand in?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                                        <div class="panel-body">
                                            U dient hiervoor naar het kopje ‘zoek bedrijf’ te gaan, linksboven in uw scherm. Vul vervolgens een bedrijfsnaam of KvK-nummer in om het bedrijf te vinden dat u zoekt. Kies en bevestig het juiste bedrijf. Hier wordt u de mogelijkheid geboden om een vermelding te doen.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading9">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionNotification" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
											Hoeveel vorderingen kan ik plaatsen?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                                        <div class="panel-body">
                                            Wij hanteren hiervoor geen maximum. Wel van belang is dat de opeisbare vordering:
                                            <br/>
                                            <ul>
                                                <li>minstens 100,- euro bedraagt</li>
                                                <li>de betalingstermijn met 30 dagen is overschreden</li>
                                                <li>en de vordering dient niet te worden betwist</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading10">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionNotification" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
											Waarom kan ik geen kleinere vorderingen registreren?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                                        <div class="panel-body">
                                            Wij hebben ervoor gekozen een franchise van 100,- euro in te stellen om te voorkomen dat bedrijven niet voor substantieel laag openstaand bedrag in het register worden opgenomen.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading11">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionNotification" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
											Waarom kan ik geen wijziging aanbrengen in de door mij aangemelde achterstand?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                                        <div class="panel-body">
                                            Uw vermelding kan niet worden gewijzigd zolang deze in behandeling is. Wanneer deze niet meer in behandeling is wordt het mogelijk om het openstaande bedrag te wijzigen.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading12">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionNotification" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
											Waarom kan ik pas een vordering registreren als hij 30 dagen over de betalingstermijn is?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                                        <div class="panel-body">
                                            Dit is om er zeker van te zijn dat wij met een opeisbare vordering te maken hebben en dat de debiteur een redelijke termijn is geboden om de vordering alsnog te voldoen.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading13">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionNotification" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
											Kan ik ook achterstanden indienen die betrekking hebben op niet-actieve bedrijven?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                                        <div class="panel-body">
                                            Ja, u kunt bij ons ook een vermelding maken van niet-actieve bedrijven.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading14">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionNotification" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
											Hoe verwijder ik een reeds door mij aangemelde achterstand?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                                        <div class="panel-body">
                                            Hiervoor dient u naar uw dashboard te gaan. Klik op het tweede icoontje linksboven onder het tabblad ‘vermeldingen’. Hier treft u een overzicht van alle vermeldingen die door u (of uw collega’s) zijn gedaan. Hier wordt u de mogelijkheid geboden om iedere vermelding (afzonderlijk) te verwijderen. U kunt dit te allen tijde doen.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading15">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionNotification" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
											Een deel van de openstaande vordering is inmiddels voldaan, wat nu?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
                                        <div class="panel-body">
                                            U dient dan de hoogte van de openstaande vordering in de vermelding te wijzigen. Ga naar uw 'Dashboard' en klik vervolgens op het tabblad 'Vermeldingen'. Selecteer de juiste melding en wijzig het openstaande bedrag. Is uw vordering niet deels maar geheel voldaan, verwijder de vermelding dan in zijn geheel. Zie hiervoor de vraag ‘De betalingsachterstand is inmiddels voldaan, wat nu?’.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading16">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionNotification" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
											De betalingsachterstand is inmiddels voldaan, wat nu?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading16">
                                        <div class="panel-body">
                                            U dient de vermelding te verwijderen wanneer uw debiteur de volledige hoofdsom heeft voldaan. Hiervoor dient u naar uw dashboard te gaan en het tweede icoontje linksboven te selecteren. Onder het tabblad ‘vermeldingen’ vindt u een overzicht van alle vermeldingen die door u (of uw collega’s) zijn gedaan. Verwijder hier vervolgens de vermelding die inmiddels voldaan is. Dit kunt u te allen tijde doen.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading17">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionNotification" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
											Ik heb zojuist een achterstand aangemeld. Waarom staat deze niet meteen in het register?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading17">
                                        <div class="panel-body">
                                            Nadat u een vermelding heeft gedaan nemen wij contact op met uw debiteur en geven deze nog 14 dagen om met u in overeenstemming te komen. Mocht uw debiteur het niet eens zijn met uw vordering dan kan hij/zij bezwaar aantekenen. Wij gaan over tot plaatsing van de vermelding in het register indien na 14 dagen:
                                            <br/>
                                            <ul>
                                                <li>er geen overeenstemming is bereikt</li>
                                                <li>geen bezwaar is aangetekend</li>
                                                <li>en wij geen onjuistheden in de vermelding vinden</li>
                                            </ul>
                                            Tekent de debiteur wel bezwaar aan dan zal de vermelding verder in behandeling worden genomen en blijft plaatsing (of verwijdering) uit tot het bezwaar is afgehandeld.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading19">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionNotification" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
											 Wat gebeurt er met de geregistreerde achterstanden nadat het bedrijf in kwestie failliet is verklaard?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading19">
                                        <div class="panel-body">
                                            Deze blijven in beginsel gewoon actief. Gebruikers kunnen hun gedane vermeldingen te allen tijde verwijderen.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="box no marginfaq  ">
                    <div class="box-content border fixitfaq">
                        <span class="livicon-evo" data-options="name: morph-eye-open-close.svg; size: 35px; style: lines-alt; strokeColor:#0a212f;eventOn:parent; tryToSharpen: true">&nbsp;</span>
                        <span class="legend">Bedrijfsmonitoring </span>
                        <div class="home">
                            <hr>
                        </div>
                        <div class="row box-content">
                            <div class="panel-group" id="accordionMonitoring" role="tablist" aria-multiselectable="false">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading5">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionMonitoring" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
											Hoe zet ik een bedrijf in monitoring?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                        <div class="panel-body">
                                            Voordat u een bedrijf in monitoring kan zetten is het vereist om vooraf een rapport op te vragen. Het moment van aanvragen van het rapport wordt gebruikt als startdatum van de monitoring. Vanaf dit moment wordt u onverwijld op de hoogte gebracht van nieuwe vermeldingen in het register. Wanneer u een rapport opvraagt, wordt de mogelijkheid geboden om dit bedrijf te monitoren.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading6">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionMonitoring" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
											Hoe werkt monitoring?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                        <div class="panel-body">
                                            Wanneer u een bedrijf in monitoring heeft gezet, zullen wij u per direct op de hoogte brengen van nieuwe vermeldingen van het desbetreffende bedrijf. Wij brengen u hiervan per mail op de hoogte. Bovendien wordt de vermelding aangegeven in uw online dashboard.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading7">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionMonitoring" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
											Waarom kan ik een bedrijf niet in monitoring plaatsen?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                        <div class="panel-body">
                                            Uw account dient eerst geverifieerd te worden alvorens u een bedrijf kunt laten monitoren.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading77">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionMonitoring" data-target="#collapse77" aria-expanded="false" aria-controls="collapse77">
											Wat kost de Bedrijfsmonitor??
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse77" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading77">
                                        <div class="panel-body">
											Voor het monitoren van een bedrijf worden geen extra kosten in rekening gebracht. Het stopzetten van deze dienst is te allen tijde mogelijk en is verder niet gebonden aan een opzegtermijn.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading78">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionMonitoring" data-target="#collapse78" aria-expanded="false" aria-controls="collapse78">
											Ik wil stoppen met het monitoren van een bedrijf. Hoe doe ik dat?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse78" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading78">
                                        <div class="panel-body">
                                            Het monitoren van een bedrijf is maandelijks opzegbaar. Daarvoor gaat u via uw Dashboard naar het tabblad ‘Monitoring’. Aan de rechterkant van de pagina kunt u onder ‘Acties’ op verwijderen klikken, waardoor het bedrijf niet langer wordt gemonitord.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading79">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionMonitoring" data-target="#collapse79" aria-expanded="false" aria-controls="collapse79">
											Ik heb eerder een rapport opgevraagd en nu wil ik een bedrijf monitoren. Waarom dien ik wederom eerst een rapport op te vragen?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse79" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading79">
                                        <div class="panel-body">
                                            Om de juistheid, volledigheid en betrouwbaarheid van onze informatieverstrekking te waarborgen, dient u altijd een rapport op te vragen alvorens u een bedrijf wil monitoren. Immers, in de tijd tussen het opvragen van een rapport en het plaatsen van een bedrijf in monitoring, kunnen er betalingsachterstanden van het betreffende bedrijf zijn opgenomen in het register.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading80">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionMonitoring" data-target="#collapse80" aria-expanded="false" aria-controls="collapse80">
											Kan een bedrijf die ik in monitoring heb geplaatst hiervan op de hoogte raken?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse80" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading80">
                                        <div class="panel-body">
                                            Nee. Wanneer u een bedrijf in monitoring plaatst, is dit niet kenbaar voor andere gebruikers en derden.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading81">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionMonitoring" data-target="#collapse81" aria-expanded="false" aria-controls="collapse81">
											Hoe kan ik zien welke bedrijven ik monitor?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse81" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading81">
                                        <div class="panel-body">
                                            Op uw Dashboard vindt u onder het tabblad ‘Monitoring’ de bedrijven die u in monitoring heeft geplaatst. U kunt op die pagina daarvan tevens een overzicht downloaden door aan de rechterkant van de pagina te klikken op ‘Download totaaloverzicht’.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="box no  marginfaq marginfaqm">
                    <div class="box-content border fixitfaq">
                        <span class="livicon-evo" data-options="name: bank.svg; size: 35px; style: lines-alt; strokeColor:#0a212f;eventOn:parent; tryToSharpen: true">&nbsp;</span>
                        <span class="legend">Algemeen</span>
                        <div class="home">
                            <hr>
                        </div>
                        <div class="row box-content">
                            <div class="panel-group" id="accordionGeneral" role="tablist" aria-multiselectable="false">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading20">
                                        <h4 class="panel-title">
                                            <a class="collapsed boldme" role="button" data-toggle="collapse" data-parent="#accordionGeneral" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
											Hoe wijzig ik mijn wachtwoord?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading20">
                                        <div class="panel-body">
                                            Ga naar 'Mijn account/Wachtwoord' rechtsboven in het menu. Selecteer vervolgens het tabblad 'Gebruikers'. Hier wordt u de mogelijkheid geboden uw wachtwoord aan te passen.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading21">
                                        <h4 class="panel-title">
                                            <a class="collapsed boldme" role="button" data-toggle="collapse" data-parent="#accordionGeneral" data-target="#collapse21" aria-expanded="false" aria-controls="collapse21">
											Hoe kan ik de handelingen op mijn account terugzien?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading21">
                                        <div class="panel-body">
                                            In het tabblad ‘historie’ van uw dashboard vindt u een overzicht van alle handelingen.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading22">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionGeneral" data-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
											Het bedrijf dat ik zoek wordt niet gevonden, wat nu?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading22">
                                        <div class="panel-body">
                                            Alle bedrijven die ingeschreven staan bij de KvK zijn ook in het betalingsachterstandenregister te vinden. Het kan zijn dat u een teken bent vergeten. De zoekopdracht vindt een bedrijf alleen als deze helemaal juist geschreven is. Mocht dit nog niet lukken probeer het dan met het KvK-nummer.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading23">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionGeneral" data-target="#collapse23" aria-expanded="false" aria-controls="collapse23">
											Waarom komen sommige bedrijven na het uitvoeren van de zoekopdracht meerdere malen voor?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading23">
                                        <div class="panel-body">
                                            De oorzaak hiervan ligt erin dat een bedrijf verschillende vestiging heeft (of heeft gehad). Kies voor vervolg de actieve vestiging of het adres zoals dat bij u bekend is.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading18">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionNotification" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
											Wat gebeurt er met een verwijderde betalingsachterstand?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading18">
                                        <div class="panel-body">
                                            Wanneer een vermelding door u wordt verwijderd, door ons wordt verwijderd of niet wordt opgenomen dan zal deze voorgoed verwijderd worden en geen onderdeel meer uitmaken van het register.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading24">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionGeneral" data-target="#collapse24" aria-expanded="false" aria-controls="collapse24">
											Ik wil graag in contact komen met een andere gebruiker die een betalingsachterstand heeft gemeld om samen een faillissement aan te vragen, maar deze gebruiker heeft zijn naam in de vermelding afgeschermd, wat nu?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading24">
                                        <div class="panel-body">
                                            Neem contact met ons op. Dan zullen wij u met elkaar in contact te brengen. Voorwaarde hiervoor wel is dat de andere gebruiker het hiermee eens is. Het staat deze derde uiteraard vrij om hieraan wel of niet mee te werken.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading25">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionGeneral" data-target="#collapse25" aria-expanded="false" aria-controls="collapse25">
											Binnen hoeveel dagen kan ik de verificatiecode verwachten?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse25" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading25">
                                        <div class="panel-body">
											De verificatiebrief wordt opgemaakt zodra u uw voorlopige account activeert. Deze zal binnen 3 dagen bezorgd worden op het adres van uw bedrijf zoals dat ook bij het handelsregister bekend is.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="box no">
                    <div class="box-content border fixitfaq ">
                        <span class="livicon-evo" data-options="name: pie-chart.svg; size: 35px; style: lines-alt; strokeColor:#0a212f;eventOn:parent; tryToSharpen: true">&nbsp;</span>
                        <span class="legend">Bedrijfsinformatierapport</span>
                        <div class="home">
                            <hr>
                        </div>
                        <div class="row box-content">
                            <div class="panel-group" id="accordionReport" role="tablist" aria-multiselectable="false">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading1">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionReport" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
											Hoe vraag ik een rapport op?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                        <div class="panel-body">
                                            Ga naar ‘zoek bedrijf’ linksboven in uw scherm. Vul vervolgens een bedrijfsnaam of KvK-nummer in om het bedrijf te vinden dat u zoekt. Kies en bevestig het juiste bedrijf. Vervolgens wordt u de mogelijkheid geboden om een rapport uit het betalingsachterstandenregister van het desbetreffende bedrijf op te vragen.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading2">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionReport" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
											Wat kan ik in een rapport verwachten?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                        <div class="panel-body">
                                            U krijgt in een rapport alle actuele bedrijfsgegevens te zien zoals deze bij de KvK bekend zijn. Tevens krijgt u een overzicht van alle geplaatste betalingsachterstanden die betrekking hebben op het desbetreffende bedrijf.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading3">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionReport" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
											Kan een bedrijf waarvan ik een rapport heb opgevraagd zien dat ik dit heb gedaan?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                        <div class="panel-body">
                                            Nee. U wordt niet met naam genoemd of opgeslagen in het register. Wel is het mogelijk te zien hoe vaak een rapport is opgevraagd. Het opvragen van een rapport gebeurt dus altijd anoniem.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading43">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionReport" data-target="#collapse43" aria-expanded="false" aria-controls="collapse43">
											Waarom kan ik geen rapport opvragen?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse43" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading43">
                                        <div class="panel-body">
                                            Uw account dient vooraf geverifieerd te worden alvorens u een rapport van een bedrijf kunt opvragen.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading44">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionReport" data-target="#collapse44" aria-expanded="false" aria-controls="collapse44">
											Wat kost een Bedrijfsinformatierapport?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse44" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading44">
                                        <div class="panel-body">
											Voor het opvragen van een bedrijfsinformatierapport worden geen extra kosten in rekening gebracht. 
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading45">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionReport" data-target="#collapse45" aria-expanded="false" aria-controls="collapse45">
											Hoe kan ik zien van welke bedrijven ik een rapport heb opgevraagd?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse45" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading45">
                                        <div class="panel-body">
                                            Op uw Dashboard vindt u onder het tabblad ‘Rapport’ de bedrijven waarvan u een rapport heeft opgevraagd. U kunt op die pagina daarvan tevens een overzicht downloaden door aan de rechterkant van de pagina te klikken op ‘Download totaaloverzicht’.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading46">
                                        <h4 class="panel-title">
                                            <a class="boldme collapsed" role="button" data-toggle="collapse" data-parent="#accordionReport" data-target="#collapse46" aria-expanded="false" aria-controls="collapse46">
											Waar kan ik mijn opgevraagde rapporten vinden?
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapse46" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading46">
                                        <div class="panel-body">
                                            Wanneer u een rapport heeft opgevraagd, wordt deze verzonden naar uw opgegeven e-mailadres. U dient de ontvangen rapporten zelf te bewaren.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>