<div class="row box-content mobpad">
	<div class="col-xs-12 col-lg-12 maxw1000">
		<div class="box-content overres mobpad">
			<div class="legend">E-mail instellingen</div>
             <span>Hieronder kunt u kiezen welke e-mails u wenst te ontvangen.</span>
			<table id="emailmeldingen" class="table no-mobiel m-table table-bordered table-hover margin20 ">
				<thead> 
					<tr> 
						<th>Onderwerp</th>
						<th class="minwacties text-center" data-label="Download">E-mail</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Vermelding in behandeling</td>
						<td class="text-center"><input disabled="disabled" type="checkbox"checked></input></td>
					</tr>
					<tr>
						<td>Vermelding  verwijderd</td>
						<td class="text-center"><input disabled="disabled" type="checkbox"checked></input></td>
					</tr>
					<tr>
						<td>Vermelding  niet in behandeling</td>
						<td class="text-center"><input disabled="disabled" type="checkbox"checked></input></td>
					</tr>
					<tr>
						<td>Vermelding opgenomen in het register</td>
						<td class="text-center"><input disabled="disabled" type="checkbox"checked></input></td>
					</tr>
					<tr>
						<td>Vermelding  voldaan</td>
						<td class="text-center"><input disabled="disabled" type="checkbox"checked></input></td>
					</tr>
					<tr>
						<td>Vermelding  afgewezen</td>
						<td class="text-center"><input disabled="disabled" type="checkbox"checked></input></td>
					</tr>
					<tr>
						<td>Bezwaar tegen vermelding</td>
						<td class="text-center"><input disabled="disabled" type="checkbox"checked></input></td>
					</tr>
					<tr>
						<td>Bedrijfsinformatierapport per mail</td>
						<td class="text-center"><input disabled="disabled" type="checkbox"checked></input></td>
					</tr>
					<tr>
						<td>Wachtwoord gewijzigd</td>
						<td class="text-center"><input disabled="disabled" type="checkbox" checked></input></td>
					</tr>
					<tr>
						<td>Nieuwe gebruiker toegevoegd</td>
						<td class="text-center"><input disabled="disabled" type="checkbox" checked></input></td>
					</tr>
					<tr>
						<td>Nieuwe berichten</td>
						<td class="text-center"><input disabled="disabled" type="checkbox"checked ></input></td>
					</tr>
				</tbody>
			</table>
<div class="legend-dash">Deze configuratie kan op verzoek beschikbaar worden gemaakt.</h4>
						</div>
		</div>
		
	</div>
</div>

                        