<script type="text/ng-template" id="createMeldingBrief.html" class="reveal-modal">
	<div class="modal-header">
		<h4 class="modal-title">Opnieuw maken melding brief</h4>
	</div>
	<div class="modal-body">
		<p>Opgelet! U staat op het punt om een melding brief opnieuw te genereren. Wilt u deze brief opnieuw genereren met alle meldingen, of slechts met de huidige melding?</p>
	</div>
	<div class="modal-footer">
		<button class="btn btnlgw2 bluebtn11 btn-primary" ng-click="discard()">Annuleren</button>
		<button class="btn btnlgw2 btn-primary" ng-click="continueAllNotifications()">Alle meldingen</button>
		<button class="btn btnlgw2 btn-primary" ng-click="continueThisNotification()">Alleen deze melding</button>
	
	</div>
</script>