<script type="text/ng-template" id="holdnotificationcompany.html" class="reveal-modal">
	<div class="modal-header">
		<h4 class="modal-title">Vermelding parkeren</h4>
	</div>
	<div class="modal-body">
		<p>Let op! Met deze actie wordt de vermelding tijdelijk geparkeerd. Weet u zeker dat u dit wilt doen?</p>
	</div>
	<div class="modal-footer">
			<button class="btn btnlgw2 bluebtn11 btn-primary" ng-click="Discard()">Annuleren</button>
		<button class="btn btn-primary btnlgw2" ng-click="Continue()">Parkeren</button>

	</div>
</script>