<script type="text/ng-template" id="monitorPopup.html" class="modal">
				<div class="modal-header">
				<img class="right10" src="img/icons/svg/euro.svg" width="35" height="35">
				<span class="modal-title legend">Bevestiging</span>
				</div>
				<div class="box-content">
				
					<div class="box-context">
						
						
								<form id="form-monitoringinfo" name="formmonitoringinfo" class="form-horizontal" novalidate>
									<fieldset>
										<div class="form-group">
											<div class="box-content">
												<p>Dit bedrijf wordt toegevoegd aan monitoring. Op elk moment kunt de monitoring op dit bedrijf uitzetten.</p>
											</div>
										</div>
											<div class="row box-context mobpad">
										<div class="modal-footer">											
												<button type="button" class="btn btn-primary btnlgw2 btn-lg-mob w100mob" ng-click="createMonitor()">Ok</button>											
											</div>
										</div>
									</fieldset>
								</form>
							
						</div>
					
				</div>
			

	
</script>