<script type="text/ng-template" id="monitorNoPayment.html" class="reveal-modal">
	<div class="row">
		<div id="myaccount_page" class="col-sm-12">
			<div class="box">
				<div class="modal-header">
					<h4 class="modal-title">Bankgegevens vereist voor monitoring</h4>
				</div>
				<div class="box-content">
					<div class="row box-context">
						<div class="col-sm-12">
							<div class="box-content">
								<form id="form-monitoringinfo" name="formmonitoringinfo" class="form-horizontal" novalidate>
									<fieldset>
										<div class="form-group">
											<div class="alert alert-danger">
												Om gebruik te kunnen maken van deze dienst is het vereist dat u automatische incasso's mogelijk maakt. Dit kunt u doen door naar het kopje 'Mijn account' te gaan en uw btw-nummer, bankgegevens en machtiging in te vullen.</br></br>
												Uw eerste twee rapportaanvragen zullen in rekening worden gebracht, maar zullen automatisch worden verrekend met uw tegoed. 												
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-12 col-sm-offset-0">
												<button type="button" class="btn btnlgw2 btn-primary" ng-click="closeMonitorPopup()">Sluiten</button>
											</div>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>