<script type="text/ng-template" id="removeCustomNotificationAdmin.html" class="reveal-modal">
	<div class="modal-header">
		<h4 class="modal-title"><i class="modal-icon-fix fa fa-trash-o" aria-hidden="true"></i>Verwijderen vermelding</h4>
	</div>
	<div class="modal-body">
		<p>Let op! Met deze actie wordt de melding uit deze lijst verwijderd! Weet u zeker dat u dit wilt doen?</p>
	</div>
	<div class="modal-footer">
		<button class="btn btnlgw2 btn-primary bluebtn11 btn-lg-mob w100mob" ng-click="Discard()">Annuleren</button>
		<button class="btn btnlgw2 btn-primary   btn-lg-mob w100mob" ng-click="Continue()">Verwijderen</button>
	</div>
</script> 