<script type="text/ng-template" id="removenotification.html" class="reveal-modal">
	<div class="modal-header">
		<h4 class="modal-title"><i class="modal-icon-fix fa fa-trash-o" aria-hidden="true"></i>Weet u zeker dat u de vermelding wilt verwijderen?</h4>
	</div>
	<div class="modal-body">
		<form name="myForm">
			<p class="b">Geef de reden van verwijderen aan.</p>

			<div class="row form-group">
				<div class="col-sm-12">
					<div class="radio">
						<label>
							<input type="radio" name="reason" ng-model="reason" value="7">
							De vordering is voldaan
							<i class="fa fa-circle-o"></i>
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="reason" ng-model="reason" value="8">
							Er is een regeling getroffen
							<i class="fa fa-circle-o"></i>
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="reason" ng-model="reason" value="9">
							De opgegeven vermelding was niet juist
							<i class="fa fa-circle-o"></i>
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="reason" ng-model="reason" value="10">
							Vordering is overgedragen aan derde partij
							<i class="fa fa-circle-o"></i>
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="reason" ng-model="reason" value="12">
							Er is geldig bezwaar aangetekend tegen de vermelding
							<i class="fa fa-circle-o"></i>
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="reason" ng-model="reason" value="11">
							Anders
							<i class="fa fa-circle-o"></i>
						</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btnlgw2 bluebtn11 btn-primary" ng-click="closeRemoveNotificationModal()">Annuleren</button>
		<button class="btn btnlgw2 btn-primary" ng-click="removeNotificationOk(reason)">Verder</button>
	
	</div>
</script>