<script type="text/ng-template" id="searchInfoPopup.html" class="reveal-modal">
	<div class="modal-header">
		<h4 class="modal-title">Informatie zoekacties</h4>
	</div>
	<div class="modal-body">
		<p>
			Indien het juiste bedrijf niet gevonden wordt verzoeken wij u het volgende te proberen:
			<br/>
			<br/>
			- Zoekt u op de handelsnaam? Probeer dan eens de statutaire naam of vice versa.
			<br/>
			- Zoekt u op een afkorting van het bedrijf? Probeer dan eens de naam voluit te schrijven of vice versa.
			<br/>
			- Let goed op hoofd- en kleine letter.
			<br/>
			- Zoek op het KvK-nummer.
			<br/>
			<br/>
			Mogelijk komt uw zoekopdracht niet overeen met de bedrijfsgegevens die bij het Handelsregister bekend zijn, omdat inschrijvingen/wijzigingen nog niet doorgevoerd zijn of het bedrijf is uitgeschreven. Probeer het dan nog een keer als de gegevens bij het handelsregister zijn doorgevoerd.
			<br/>
			Betreft het een nieuw opgericht bedrijf dan kan de verwerking 2 weken in beslag nemen.
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn btnlgw2  btn-lg-mob w100mob btn-primary" ng-click="closePopup()">Sluiten</button>
	</div>
</script>